@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.blue-gradient-tl {
  @apply rounded bg-gradient-to-tl from-blue-300 to-blue-700;
}

.hover\:blue-gradient-tl:hover {
  @apply bg-gradient-to-tl from-blue-300 to-blue-700;
}

.blue-gradient-br {
  @apply bg-gradient-to-br from-blue-300 to-blue-800 
}

.hover\:blue-gradient-br:hover{
  @apply bg-gradient-to-br from-blue-300 to-blue-800 
}
